#contentBox{
    position: relative;
    border: 4px solid black;
    margin: 45px auto 45px auto;
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
}

#contentBoxImg{
    position: relative;
    border: 4px solid black;
    margin: 45px auto 45px auto;
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    background-image: url(img/How_To_Play_SnakeGame.png);
    background-position: center;
    background-size:contain;
    background-repeat: no-repeat;
}

#contentBox div{
    position: relative;
    margin: auto;
}

#textBox{
    width: 300px;
    font-size: xx-large;
    font-weight: bold;
    background-color: lightblue;
    border-radius: 10px;
}
#textBox:hover{
    color: white;
    
}

#howToPlayBoxFood{
    width: 10px;
    height: 10px;
    background-color: blue;
}
#howToPlayBoxSnake{
    width: 10px;
    height: 10px;
    background-color: red;
}

#backBtn{
    position: absolute;
    right: 0px;
    height: 40px;
    width: 40px;
    border: 4px solid black;
    text-align: center;
    margin: 10px;
}
#backBtn i{
    font-weight: bolder;
    font-size: xx-large;
    font-family: 'Courier New', Courier, monospace;
}
