h1, p{
    font-family: 'Courier New', Courier, monospace;
    width: 500px;
    margin: auto;
    text-align: center;
    padding: 20px;
}

h1{
    background-color: lightblue;
    border-radius: 10px;
    width: 200px;
}

#gameArea{
    border: 4px solid black;
    position: relative;
    width: 500px;
    height: 500px;
    margin: auto;
}
#gamePoints{
    
    margin: auto;
    left: 350px;
    top: 40px;
    height: 50px;
    width: 500px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;

}
